Oereb.Service/Checkfiles/schema_0.4/ExtractData.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.geo.admin.ch/swisstopo/OeREBK/15/ExtractData" version="0.4" xmlns="http://schemas.geo.admin.ch/swisstopo/OeREBK/15/ExtractData" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xmlsig="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml.xsd"/>
    <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
    <xsd:element name="extensions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="WebReference">
        <xsd:simpleContent>
            <xsd:extension base="xsd:anyURI"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="UID">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ArticleNumber">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RestrictiontypeCode">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CantonCode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ZH"/>
            <xsd:enumeration value="BE"/>
            <xsd:enumeration value="LU"/>
            <xsd:enumeration value="UR"/>
            <xsd:enumeration value="SZ"/>
            <xsd:enumeration value="OW"/>
            <xsd:enumeration value="NW"/>
            <xsd:enumeration value="GL"/>
            <xsd:enumeration value="ZG"/>
            <xsd:enumeration value="FR"/>
            <xsd:enumeration value="SO"/>
            <xsd:enumeration value="BS"/>
            <xsd:enumeration value="BL"/>
            <xsd:enumeration value="SH"/>
            <xsd:enumeration value="AR"/>
            <xsd:enumeration value="AI"/>
            <xsd:enumeration value="SG"/>
            <xsd:enumeration value="GR"/>
            <xsd:enumeration value="AG"/>
            <xsd:enumeration value="TG"/>
            <xsd:enumeration value="TI"/>
            <xsd:enumeration value="VD"/>
            <xsd:enumeration value="VS"/>
            <xsd:enumeration value="NE"/>
            <xsd:enumeration value="GE"/>
            <xsd:enumeration value="JU"/>
            <xsd:enumeration value="FL"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MunicipalityCode">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="9999"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Lawstatus">
        <xsd:sequence>
            <xsd:element name="Code" type="LawstatusCode"> </xsd:element>
            <xsd:element name="Text" type="LocalisedText"> </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="LawstatusCode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="inForce"/>
            <xsd:enumeration value="runningModifications"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Theme">
        <xsd:sequence>
            <xsd:element name="Code" type="ThemeCode"> </xsd:element>
            <xsd:element name="Text" type="LocalisedText"> </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ThemeCode">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="LandUsePlans|MotorwaysProjectPlaningZones|MotorwaysBuildingLines|RailwaysProjectPlanningZones|RailwaysBuildingLines|AirportsProjectPlanningZones|AirportsBuildingLines|AirportsSecurityZonePlans|ContaminatedSites|ContaminatedMilitarySites|ContaminatedCivilAviationSites|ContaminatedPublicTransportSites|GroundwaterProtectionZones|GroundwaterProtectionSites|NoiseSensitivityLevels|ForestPerimeters|ForestDistanceLines|(ch\.[A-Z]{2}\.[a-zA-Z][a-zA-Z0-9]*)|(ch\.[0-9]{4}\.[a-zA-Z][a-zA-Z0-9]*)|(fl\.[a-zA-Z][a-zA-Z0-9]*)"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="LocalisedUri">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Language" type="LanguageCode"/>
            <xsd:element name="Text" type="xsd:anyURI"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MultilingualUri">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="LocalisedText" type="LocalisedUri"> </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="LanguageCode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="de"/>
            <xsd:enumeration value="fr"/>
            <xsd:enumeration value="it"/>
            <xsd:enumeration value="rm"/>
            <xsd:enumeration value="en"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="LocalisedText">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Language" type="LanguageCode"/>
            <xsd:element name="Text">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString"> </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LocalisedMText">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Language" type="LanguageCode"/>
            <xsd:element name="Text">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"> </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MultilingualText">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="LocalisedText" type="LocalisedText"> </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MultilingualMText">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="LocalisedText" type="LocalisedMText"> </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Area">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999999999"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RealEstateType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RealEstate"/>
            <xsd:enumeration value="Distinct_and_permanent_rights.BuildingRight"/>
            <xsd:enumeration value="Distinct_and_permanent_rights.right_to_spring_water"/>
            <xsd:enumeration value="Distinct_and_permanent_rights.concession"/>
            <xsd:enumeration value="Distinct_and_permanent_rights.other"/>
            <xsd:enumeration value="Mineral_rights"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Office">
        <xsd:sequence>
            <xsd:element name="Name" type="MultilingualText"> </xsd:element>
            <xsd:element minOccurs="0" name="OfficeAtWeb" type="WebReference"/>
            <xsd:element minOccurs="0" name="UID" type="UID"/>
            <xsd:element minOccurs="0" name="Line1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="Line2">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="Street">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="Number">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="7"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PostalCode">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="City">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="extensions"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentBase">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="TextAtWeb" type="MultilingualUri"> </xsd:element>
            <xsd:element name="Lawstatus" type="Lawstatus"/>
            <xsd:element minOccurs="0" ref="extensions"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Glossary">
        <xsd:sequence>
            <xsd:element name="Title" type="MultilingualText"> </xsd:element>
            <xsd:element name="Content" type="MultilingualMText"> </xsd:element>
            <xsd:element minOccurs="0" ref="extensions"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ExclusionOfLiability">
        <xsd:sequence>
            <xsd:element name="Title" type="MultilingualText"> </xsd:element>
            <xsd:element name="Content" type="MultilingualMText"> </xsd:element>
            <xsd:element minOccurs="0" ref="extensions"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LegendEntry">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="Symbol" type="xsd:base64Binary"> </xsd:element>
                <xsd:element name="SymbolRef" type="xsd:anyURI"> </xsd:element>
            </xsd:choice>
            <xsd:element name="LegendText" type="MultilingualText"> </xsd:element>
            <xsd:element name="TypeCode" type="RestrictiontypeCode"/>
            <xsd:element name="TypeCodelist" type="xsd:anyURI"/>
            <xsd:element name="Theme" type="Theme"/>
            <xsd:element minOccurs="0" name="SubTheme">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="extensions"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Article">
        <xsd:complexContent>
            <xsd:extension base="DocumentBase">
                <xsd:sequence>
                    <xsd:element name="Number" type="ArticleNumber"/>
                    <xsd:element minOccurs="0" name="Text" type="MultilingualMText"> </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Geometry">
        <xsd:sequence>
            <xsd:choice minOccurs="0">
                <xsd:element name="Point" type="gml:PointPropertyType"/>
                <xsd:element name="Line" type="gml:CurvePropertyType"/>
                <xsd:element name="Surface" type="gml:SurfacePropertyType"/>
            </xsd:choice>
            <xsd:element name="Lawstatus" type="Lawstatus"/>
            <xsd:element minOccurs="0" name="MetadataOfGeographicalBaseData" type="xsd:anyURI"/>
            <xsd:element name="ResponsibleOffice" type="Office"> </xsd:element>
            <xsd:element minOccurs="0" ref="extensions"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Map">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Image" type="xsd:base64Binary"> </xsd:element>
            <xsd:element minOccurs="0" name="ReferenceWMS" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="LegendAtWeb" type="WebReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OtherLegend" type="LegendEntry"> </xsd:element>
            <xsd:element minOccurs="0" ref="extensions"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Document">
        <xsd:complexContent>
            <xsd:extension base="DocumentBase">
                <xsd:sequence>
                    <xsd:element name="Title" type="MultilingualText"> </xsd:element>
                    <xsd:element minOccurs="0" name="OfficialTitle" type="MultilingualText"> </xsd:element>
                    <xsd:element minOccurs="0" name="Abbrevation" type="MultilingualText"> </xsd:element>
                    <xsd:element minOccurs="0" name="OfficialNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="20"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="Canton" type="CantonCode"/>
                    <xsd:element minOccurs="0" name="Municipality" type="MunicipalityCode"/>
                    <xsd:element name="ResponsibleOffice" type="Office"> </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArticleNumber" type="ArticleNumber"> </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Article" type="Article"> </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Reference" type="Document"> </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="RestrictionOnLandownership">
        <xsd:sequence>
            <xsd:element name="Information" type="MultilingualMText"> </xsd:element>
            <xsd:element name="Theme" type="Theme"/>
            <xsd:element minOccurs="0" name="SubTheme">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TypeCode" type="RestrictiontypeCode"/>
            <xsd:element minOccurs="0" name="TypeCodelist" type="xsd:anyURI"/>
            <xsd:element name="Lawstatus" type="Lawstatus"/>
            <xsd:element minOccurs="0" name="Area" type="Area"/>
            <xsd:element minOccurs="0" name="PartInPercent">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="Symbol" type="xsd:base64Binary"> </xsd:element>
                <xsd:element name="SymbolRef" type="xsd:anyURI"> </xsd:element>
            </xsd:choice>
            <xsd:element maxOccurs="unbounded" name="Geometry" type="Geometry"> </xsd:element>
            <xsd:element name="Map" type="Map"> </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="LegalProvisions" type="DocumentBase"> </xsd:element>
            <xsd:element name="ResponsibleOffice" type="Office"> </xsd:element>
            <xsd:element minOccurs="0" ref="extensions"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RealEstate_DPR">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Number">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IdentDN">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="EGRID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Type" type="RealEstateType"/>
            <xsd:element name="Canton" type="CantonCode"/>
            <xsd:element name="Municipality">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SubunitOfLandRegister">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FosNr" type="MunicipalityCode"/>
            <xsd:element minOccurs="0" name="MetadataOfGeographicalBaseData" type="xsd:anyURI"/>
            <xsd:element name="LandRegistryArea" type="Area"/>
            <xsd:element minOccurs="0" name="Limit" type="gml:MultiSurfacePropertyType"> </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="RestrictionOnLandownership" type="RestrictionOnLandownership"> </xsd:element>
            <xsd:element name="PlanForLandRegister" type="Map"> </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Reference" type="Document"> </xsd:element>
            <xsd:element minOccurs="0" ref="extensions"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LegalProvisions">
        <xsd:complexContent>
            <xsd:extension base="Document"> </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="Extract" type="Extract"/>
    <xsd:complexType name="Extract">
        <xsd:sequence>
            <xsd:element name="CreationDate">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:dateTime">
                        <xsd:minInclusive value="2009-01-01T00:00:00.000"/>
                        <xsd:maxInclusive value="2999-12-31T23:59:59.000"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="xmlsig:Signature"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ConcernedTheme" type="Theme"> </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="NotConcernedTheme" type="Theme"> </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ThemeWithoutData" type="Theme"> </xsd:element>
            <xsd:element name="isReduced" type="xsd:boolean"/>
            <xsd:choice>
                <xsd:element name="LogoPLRCadastre" type="xsd:base64Binary"> </xsd:element>
                <xsd:element name="LogoPLRCadastreRef" type="xsd:anyURI"> </xsd:element>
            </xsd:choice>
            <xsd:choice>
                <xsd:element name="FederalLogo" type="xsd:base64Binary"> </xsd:element>
                <xsd:element name="FederalLogoRef" type="xsd:anyURI"> </xsd:element>
            </xsd:choice>
            <xsd:choice>
                <xsd:element name="CantonalLogo" type="xsd:base64Binary"> </xsd:element>
                <xsd:element name="CantonalLogoRef" type="xsd:anyURI"> </xsd:element>
            </xsd:choice>
            <xsd:choice>
                <xsd:element name="MunicipalityLogo" type="xsd:base64Binary"> </xsd:element>
                <xsd:element name="MunicipalityLogoRef" type="xsd:anyURI"> </xsd:element>
            </xsd:choice>
            <xsd:element name="ExtractIdentifier">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:choice minOccurs="0">
                <xsd:element name="QRCode" type="xsd:base64Binary"> </xsd:element>
                <xsd:element name="QRCodeRef" type="xsd:anyURI"> </xsd:element>
            </xsd:choice>
            <xsd:element minOccurs="0" name="GeneralInformation" type="MultilingualMText"> </xsd:element>
            <xsd:element name="BaseData" type="MultilingualMText"> </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Glossary" type="Glossary"> </xsd:element>
            <xsd:element name="RealEstate" type="RealEstate_DPR"> </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ExclusionOfLiability" type="ExclusionOfLiability"> </xsd:element>
            <xsd:element name="PLRCadastreAuthority" type="Office"> </xsd:element>
            <xsd:element minOccurs="0" ref="extensions"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="optional"/>
        <xsd:anyAttribute processContents="lax"/>
    </xsd:complexType>
</xsd:schema>
